.header
{
    background-image: url('/assets/images/main-content.jpg');
    position: absolute;
    font-family: 'Roboto Slab', serif;
    width: 100%;
    height: 55px;
    top:21px;
    text-align: center;
    margin-top: 7px;
    padding-top: 5px;
    font-size: 26px;    
}
.outer-header
{
    background-color: rgb(163, 163, 50); 
    height: 100px;
    position: relative;
    width: 100%;
    height: 110px;
    margin-bottom: 15px;
}

.main-img
{
    height: 280px;
}
form
{
    border: 1px solid grey;
    padding: 30px 25px 47px 25px;
    margin: 8px 0px 67px 15px;
    border-radius: .25rem;
}

#bookHotel 
{
    font-weight: 600;
    font-size: 20px;
    margin-left: 15px;
}

#submit 
{
padding-left: 30px;
padding-right: 30px;
margin-right: 15px;
}

#cancel
{
    padding-left: 25px;
    padding-right: 25px;
}

.custom-warning 
{
    background-color: pink;
    color: Red;
    margin-left: 254px;
    border-radius: .25rem;
    margin-bottom: 25px;
}

span
{
    display: inline-block;
    margin: 0;
    border: 0;
    border-radius: 0;
}

#error-messages
{
    margin-left: 14px;
    margin-bottom: 15px;
}

footer
{
    background-image: url('/assets/images/main-footer.jpg');
    position: relative;
    width: 100%;
    height: 32px;
    bottom: 0px;
    text-align: center; 
}

#success-message
{
    margin-right: -16px;
}