.header
{
    background-image: url('/assets/images/main-content.jpg');
    position: absolute;
    font-family: 'Roboto Slab', serif;
    width: 100%;
    height: 55px;
    top:21px;
    text-align: center;
    margin-top: 7px;
    padding-top: 5px;
    font-size: 26px;    
}
.outer-header
{
    background-color: rgb(163, 163, 50); 
    height: 100px;
    position: relative;
    width: 100%;
    height: 110px;
    margin-bottom: 15px;
}

.main-img
{
    height: 280px;
}

#span
{
    margin-left: 30px;
    font-weight: 600;
    font-size: 16px;
}
p{
    margin-left: 30px;
}
a
{
    margin-left: 25px;
}

ul li{
    margin-left: 25px;
}
footer
{
    background-image: url('/assets/images/main-footer.jpg');
    position: absolute;
    width: 100%;
    height: 32px;
    bottom: 0px;
    text-align: center; 
}