<div class="container-fluid">
  <div class="row">
    <div class="outer-header">
      <div class="header">
        UI Case Study - Hotel Booking Application
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <img src="/assets/images/main.jpg" class="main-img">
    </div>
    
Name: {{hotelDetails[0].name}}
<br> Address:{{hotelDetails[0].address}}
<br> City:{{hotelDetails[0].city}}
<br> Zip:{{hotelDetails[0].zip}}
<br> Price:{{hotelDetails[0].price}}
<br>

<button type="button" class="btn btn-info" [routerLink]="['/bookHotel',hotelDetails[0]._id]">View Hotel</button>

  </div>

  <footer>
    Accenture &copy; 2017
  </footer>
</div>