<div class="container-fluid">
  <div class="row">
    <div class="outer-header">
    <div class="header">
      UI Case Study - Hotel Booking Application
    </div>
  </div>
    </div>

    <div class="row">
        <div class="col-md-2">
          <img src="/assets/images/main.jpg" class="main-img">
        </div>

        <div class="col-md-9" id="details">
          <h4>{{HotelDetails[0].Name}}<br></h4>
          {{HotelDetails[0].Address}}<br>
          {{HotelDetails[0].City}}<br>
          {{HotelDetails[0].Zip}}<br><br>
        <b> Day Price: {{HotelDetails[0].DayPrice}} INR</b><br>
        <b> Night Price: {{HotelDetails[0].NightPrice}} INR</b> <br>

        <button type="button" class="btn btn-success" [routerLink]="['/book',HotelDetails[0].id]">Book Hotel</button>
        </div>

        </div>

    <footer>
        Accenture &copy; 2017
      </footer>
    </div>