<div class="container-fluid">
  <div class="row">
      <div class="outer-header">
      <div class="header">
        UI Case Study - Hotel Booking Application
      </div>
    </div>
      </div>

      <div class="row">
          <div class="col-md-2">
              <img src="/assets/images/main.jpg" class="main-img">
            </div>
            <div class="col-md-10">
              <span id="search-text">Search Hotels</span>
              <div id="search">

            <form [formGroup]="hotelForm" (ngsubmit)="doSearch(hotelForm.value)" class="form-inline">
              <b><label>Search String:</label></b>
                  <input type="text" [formControl]="search">
                    <b><label>Maximum Results :</label></b>
                    <select  [formControl]='numb' id="select">
                      <option *ngFor="let num of number" [value]="num">{{num}}</option>
                    </select> 
                     <button type="button" class="btn btn-success" id="button" [routerLink]="['/results',hotelForm.get('search').value,hotelForm.get('numb').value]">Find Hotels</button>
                   <br> <p>value: {{ hotelForm.get('search').value }}</p>
                   <br> <p>value: {{ hotelForm.get('numb').value }}</p>
                  </form>
      
                </div>
              </div>
        </div>

        <footer>
            Accenture &copy; 2017
          </footer>
  </div>
