<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="outside1">
        <h1>Hotel Application</h1>
          <div class="image">
              <h5 class="footer">Accenture 2017</h5>
            <img src="/assets/images/main-footer.jpg"></div>
        </div>
     

      <div class="containerfluid" class="align">
            <div class="col-md-3">
              <img class="main" src="/assets/images/main.jpg">
            </div>        
            <div class="col-md-9">
            <h3><i>Search Hotels</i></h3>
            <form ng-submit="doSearch(hotelForm.value)" [formGroup]="hotelForm">
              <div class="form-group">
                <label class="center-block">Search String:
                  <input class="form-control" formControlName="Search_String">
                </label>
            </div>
          </form>
          <form ng-submit="doSearch(hotelForm.value)" [for
              <div class="form-group">
                  <label class="center-block">Maximum Result:</label>
            </div>
          </form>
          
          <button type="button"  class="btn btn-success" [routerLink]="['/results',hotelForm.get('Search_String').value ]">Find Hotels</button>
                <p>value: {{ hotelForm.get('Search_String').value }}</p>
        </div>
              </div>
           </div>
     </body>
    </html>