<div class="container-fluid">
  <div class="row">
    <div class="outer-header">
      <div class="header">
        Hotel Booking Application
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <img src="/assets/images/main.jpg" class="main-img">
    </div>
    <div class="col-md-10">
      <span id="search-text">Search Hotels</span>
      <div id="search">

            <form (ngsubmit)="doSearch(hotelForm.value)" [formGroup]="hotelForm" class="form-group">
              <b><label>Search String:</label></b>
                  <input type="text" [formControl]="search">
                    <b><label>Maximum Results :</label></b>
                    <select  [formControl]='numb' id="select">
                      <option *ngFor="let num of number" [value]="num">{{num}}</option>
                    </select> 
                    <input type="submit" class="btn btn-success" id="button" [routerLink]="['/results',hotelForm.get('Search_String').value]">
                  </form>
  
          <!-- <button type="button"  class="btn btn-success"  ]">Find Hotels</button>
                <p>value: {{ hotelForm.get('Search_String').value }}</p> -->
           <footer>
            Accenture &copy; 2017
          </footer>
      </div>
     </body>
    </html>